{% extends 'base_generics.html' %}

{% block content %}
    {% if user.is_staff %}
        <h5>{{ request.user.username }}</h5>
        <h3>Borrowed Books:</h3>
        <ul>
            {% for bookinst in bookinstance_list %}
                <li class="{% if bookints.is_overdue %}text-danger {% endif %}">
                    <a href="{{ bookinst.get_absolute_url }}">{{ bookinst.book.title }}</a>
                        ({{ bookinst.due_back}}) - ({{ bookinst.borrower.username }})
                </li>

                {% if perms.catalog.change_bookinstance %}
                    <a href="{% url 'bookinstance-update' bookinst.id %}">Renew</a>
                {% endif %}

                {% if perms.catalog.delete_bookinstance %}
                    <a href="{% url 'bookinstance-delete' bookinst.id %}">Delete</a>
                {% endif %}
                
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}